* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-size: 62.5%;
  
    --ff-primary: 'Poppins', sans-serif;
    --text-color: #303030;
  
    --hue: 194;
    --primary-color: hsl(var(--hue), 100%, 63%);
  }
  
  body {
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: rgb(250, 254, 255);
  }
  
  body * {
    font-family: var(--ff-primary);
  }
  
  button {
    background-color: var(--primary-color);
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  #app {
    padding: 2rem;
    max-width: 500px;
    margin: 0 auto;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

